<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/somecss.css">
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h1>Welcome to the most awesome web page on the internet</h1>
    <hr>
    <a href="./trans"><button type="button" name="button">Donate</button></a>
    <hr>
    <a href="./search"><button type="button" name="button">Search</button></a>
    <hr>
    <a href="./login"><button type="button" name="button">Bloodbank</button></a>
  </body>
</html>
